
//>>>>> Section Title Start <<<<<//

.section-title{
	position: relative;
	z-index: 99;
	margin-bottom: 30px;
	margin-top: -6px;

	@include breakpoint (max-md){
		margin-bottom: 0;
	}

	span {
		color: $theme-color;
		margin-bottom: 10px;
		display: inline-block;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.11em;
		text-decoration-line: underline;

		&.color-style {
			color: $theme-color;
		}
	}

	h2 {
		text-transform: capitalize;
	}

	&.style-2 {
		span {
			color: $theme-color-2;
			text-decoration: none;
			letter-spacing: 0;
		}

		h2 {
			text-transform: uppercase;

			span {
				color: $theme-color-2;
				letter-spacing: 0;
				text-decoration: none;
			}
		}
	}

}

.title-section-area {
	@include flex;
	justify-content: space-between;

	@include breakpoint (max-md){
		flex-wrap: wrap;
		gap: 20px;
		justify-content: center;
		text-align: center;
	}
}

//>>>>> Section Title End <<<<<//

//>>>>> Basic Css Start <<<<<//

.center {
	text-align: center;
	margin: 0 auto;
}

.section-bg {
	background-color: $bg-color;
}

.section-bg-2 {
	background-color: $bg-color-5;
}

.section-bg-3 {
	background-color: $bg-color-6;
}

.section-bg-4 {
	background-color: $bg-color-7;
}

.footer-bg {
	background-color: $bg-color-4;
}

.section-padding{
	padding: 120px 0;
	@include breakpoint(max-xl){
		padding: 100px 0;
	}
	@include breakpoint(max-lg){
		padding: 80px 0;
	}
}
//>>>>> Basic Css End <<<<<//

