.testimonial-card-items {
    margin-top: 30px !important;
    border: 1px solid $border-color;
    padding: 45px 35px;
    position: relative;

    &::before {
        position: absolute;
        right: 40px;
        top: 40px;
        content: "";
        width: 32px;
        height: 24px;
        background-image: url(../../assets/img/testimonial/quote.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .author-items {
        @include flex;
        gap: 23px;

        .author-image {
            width: 75px;
            height: 75px;
            border-radius: 50%;
        }

        .author-content {
            h5 {
                margin-bottom: 5px;
            }
        }
    }

    p {
        margin-top: 30px;
        font-size: 18px;
    }

    ul {
        margin-top: 40px;

        li {
            padding: 15px;
            background-color: $theme-color;
            color: $white;
            font-weight: 500;
            position: relative;

            &::after {
                content: "";
                width: 0;
                height: 0;
                border-left: 10px solid transparent;
                border-right: 25px solid transparent;
                border-bottom: 35px solid $theme-color;
                position: absolute;
                top: -15px;
                left: 50px;
                right: 0;
                transition: all 0.4s ease-in-out;
                z-index: -1;
            }
        }
    }
}

.testimonial-section {
    position: relative;

    &::before {
        @include before;
        background-image: linear-gradient(180deg, rgba(246, 242, 237, 0) 0%, #F6F2ED 100%);
        z-index: -1;
        top: 10%;
    }
}

.testimonial-carousel-active {
    .slick-slide {
      margin: 0 15px;
    }
  
      .slide-dots{
          text-align: center;
          border: 1px dotted $theme-color;
          width: 145px;
          height: 40px;
          line-height: 40px;
          border-radius: 30px;
          margin: 0 auto;
          margin-top: 30px;
          
          li {
                display: inline-block;
                margin: 13px 5px;
                button {
                    position: relative;
                    text-indent: -9999px;
                    border-radius: 10px;
                    width: 10px;
                    height: 10px;
                    background-color: $white;
                    transition: all .3s ease-in-out;
                    border: 2px solid $theme-color;
        
                    &:hover {
                        background-color: $theme-color;
                    }
                }
                
                &.slick-active{
                    button{
                        background-color: $theme-color;
                        border-color: $theme-color;
                    }
                }
          }
      }
  
      .slick-list {
          margin: 0 -15px;
      }
}

.testimonial-carousel-active-2 {
    .slick-slide {
        margin: 0 15px;
    }

    .slick-list {
        margin: 0 -15px;
    }
    
    .slide-dots{
        margin: 40px auto;
        text-align: center;
        
        li {
            display: inline-block;
            margin: 13px 8px;

            button {
                text-indent: -9999px;
                width: 8px;
                height: 8px;
                transition: 0.6s;
                background-color: #D6D1D1;
                opacity: 1;
                border-radius: 10px;
                position: relative;
    
                &:hover {
                    background-color: $theme-color;
                }
            }
            
            &.slick-active{
                button{
                    background-color: $theme-color;
                    transition: 0.6s;
                    position: relative;

                    &::before{
                        position: absolute;
                        width: 20px;
                        height: 20px;
                        line-height: 20px;
                        top: -6px;
                        left: -6px;
                        border-radius: 50%;
                        background-color: transparent;
                        border: 2px solid $theme-color;
                        content: "";
                    }
                }
            }
        }
    }
}

.testimonial-card-items-2 {
    margin-top: 30px;
    text-align: center;
    border-radius: 5px;
    padding: 35px 50px;
    position: relative;
    z-index: 9;

    @include breakpoint (max-sm){
        padding: 30px;
    }

    &::before {
        @include before;
        background-color: $white;
        z-index: -1;
        top: 20%;
        border-radius: 5px;
        height: initial;
    }

    .testimonial-image {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        text-align: center;
        margin: 0 auto;
    }

    .testimonial-content {
        margin-top: 20px;

        .star {
            margin-bottom: 10px;

            span {
                font-size: 14px;
                color: $ratting-color;

                &.color-2 {
                    color: #DED9D1;
                }
            }
        }

        .author-name {
            margin-top: 30px;

            @include breakpoint (max-sm){
               margin-top: 20px;
            }
        }
    }
}

.testimonial-section-3 {
    position: relative;

    &::before {
        @include before;
        background-color: $bg-color-6;
        top: 70%;
    }

    .container-fluid {
        padding: 0 110px;

        @include breakpoint (max-xxl){
            padding: 0 15px;
        }
    }
}

.testimonial-wrapper-3 {
    padding: 120px 220px; 
    position: relative;
    background-color: $bg-color-2;

    @include breakpoint (max-xxl){
        padding: 120px 60px;
    }

    @include breakpoint (max-lg){
        padding: 80px 50px;
    }

    @include breakpoint (max-md){
        padding: 50px 40px;
    }

    @include breakpoint (max-sm){
       padding: 40px 30px;
    }

    .testimonial-items {
        @include flex;
        gap: 60px;

        @include breakpoint (max-xl){
            flex-wrap: wrap;
            justify-content: center;
            text-align: center;
            gap: 0;
        }

        .testimonial-image-area {
            flex-basis: 100%;
    
            .testimonial-image {
                max-width: 300px;
                height: 300px;
                border-radius: 50%;
                position: relative;
                text-align: center;
                margin: 0 auto;

                @include breakpoint (max-lg){
                    max-width: 250px;
                    height: 250px;
                }

                @include breakpoint (max-md){
                    max-width: 230px;
                    height: 230px;
                }

                @include breakpoint (max-sm){
                    max-width: 140px;
                    height: 140px;
                }
    
                .icon {
                    width: 100px;
                    height: 100px;
                    line-height: 110px;
                    border-radius: 50%;
                    text-align: center;
                    background-color: $white;
                    box-shadow: $shadow;
                    color: $theme-color-2;
                    font-size: 42px;
                    position: absolute;
                    top: 0;
                    right: -15px;

                    @include breakpoint (max-lg){
                        font-size: 38px;
                        width: 85px;
                        height: 85px;
                        line-height: 95px;
                    }

                    @include breakpoint (max-md){
                        font-size: 32px;
                        width: 70px;
                        height: 70px;
                        line-height: 80px;
                    }

                    @include breakpoint (max-sm){
                        font-size: 22px;
                        width: 50px;
                        height: 50px;
                        line-height: 60px;
                    }
                }
            }
    
            .star {
                width: 200px;
                text-align: center;
                margin: 30px auto;
                border: 1px solid $border-color-2;
                border-radius: 45px;
                height: 45px;
                line-height: 45px;
                position: relative;
    
                &::after {
                    content: "";
                    width: 0;
                    height: 0;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    border-bottom: 10px solid $border-color-2;
                    background-color: transparent;
                    position: absolute;
                    top: -10px;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    transition: all 0.4s ease-in-out;
                    z-index: 1;
                }
    
                span {
                    color: $ratting-color;
                }
            }
        }
    
        .testimonial-content {
            h3 {
                font-size: 30px;
                font-weight: 500;
                line-height: 170%;
                border-bottom: 1px solid $border-color-2;
                padding-bottom: 50px;

                @include breakpoint (max-xxl){
                    font-size: 26px;
                }

                @include breakpoint (max-xl){
                    font-size: 22px;
                }

                @include breakpoint (max-md){
                    font-size: 20px;
                    padding-bottom: 30px;
                }

                @include breakpoint (max-sm){
                    font-size: 16px;
                    padding-bottom: 20px;
                }
            }
    
            .athor-name {
                margin-top: 40px;
    
                @include flex;
                gap: 5px;

                @include breakpoint (max-xl){
                    justify-content: center;
                    text-align: center;
                }

                @include breakpoint (max-sm){
                    margin-top: 20px;
                }

                p {
                    font-size: 14px;
                }
            }
        }
    }

    .slider-button {
        position: absolute;
        bottom: 20%;
        right: 20%;

        @include breakpoint (max-xl){
            bottom: 4%;
            right: initial;
            left: 50%;
            transform: translateX(-50%);
        }

        @include breakpoint (max-lg){
            display: none;
        }
    }

    .testimonial-nav-prev, .testimonial-nav-next {
        display: inline-block;
        height: 60px;
        width: 60px;
        text-align: center;
        color: $black;
        background-color: #F1F1F1;
        line-height: 60px;
        font-size: 18px;
        transition: all .3s ease-in-out;
        cursor: pointer;
        font-weight: 700;
        border-radius: 50%;
  
        @media (max-width: 767px) {
              width: 50px;
              height: 45px;
              line-height: 45px;
              font-size: 15px;
        }
  
        &.slick-disabled {
              background-color: #b8b8b8 !important;
        }
  
        &:hover {
              background-color: $theme-color-2;
              color: $white;
        }
   }

  &.style-2 {
    background-color: $white;

    @include breakpoint (max-xl){
       margin-bottom: -5px;   
    }

    .slider-button {
        position: absolute;
        bottom: 0;

        @include breakpoint (max-xl){
            display: none;
        }
    }

    .testimonial-nav-prev, .testimonial-nav-next {
        &:hover {
              background-color: $theme-color;
        }
   }

    .testimonial-items {
        .testimonial-image-area {
            .testimonial-image {
                .icon {
                    color: $theme-color;
                }
            }
        }
    }
  }
}

.testimonial-section-4 {
    position: relative;

    @include breakpoint (max-xl){
        margin-top: -40px;
    }

    &::before {
        @include before;
        background-color: $bg-color-5;
        z-index: -1;
        top: 30%;
    }

    &::after {
        position: absolute;
        bottom: 11%;
        right: 20%;
        width: 90px;
        height: 90px;
        border-radius: 90px;
        background-color: #FFB302;
        content: "";
        z-index: -1;
    }

    .client-1 {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 40px;
        width: 90px;
        height: 90px;
        animation: scale-up-one 3s infinite linear;

        @include breakpoint (max-xxl){
            display: none
        }

        img {
            @include imgw;
        }
        
    }

    .client-2 {
        position: absolute;
        bottom: 10%;
        right: 10%;
        animation: scale-up-one 4s infinite linear;

        @include breakpoint (max-xxl){
            display: none
        }
    }

    .slider-button {
        position: absolute;
        bottom: 12%;
        left: 50%;
        transform: translateX(-50%);
        @include flex;
        gap: 30px;

        @include breakpoint (max-lg){
            display: none;
        }

        .testimonial-nav-prev,.testimonial-nav-next {
            width: 50px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            background-color: transparent;
            border-radius: 50%;
            border: 1px solid $theme-color;
            cursor: pointer;
            @include transition;

            &:hover {
                background-color: $theme-color;
                color: $white;
            }
        }
    }
}

.testimonial-wrapper-4 {
    position: relative;

    .testimonial-items {
        text-align: center;
        position: relative;
        padding-bottom: 20px;

        @include breakpoint (max-xl){
            padding: 40px;
        }

        @include breakpoint (max-sm){
            padding: 30px;
        }

        &::before {
            @include before;
            background-color: $white;
            box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.07);
            top: 40px;
            z-index: 1;

            @include breakpoint (max-xl){
                top: 70px;
            }
        }

        .testimonial-image {
            width: 90px;
            height: 90px;
            border-radius: 50%;
            margin: 0 auto;
            position: relative;
            z-index: 9;
        }

        .client-info {
            margin-top: 20px;
            position: relative;
            z-index: 9;

            @include breakpoint (max-sm){
                margin-top: 10px;
            }

            h5 {
                font-size: 18px;
                 text-transform: uppercase;
            }

            h6 {
                font-size: 16px;
                margin-top: 5px;

                span {
                    color: $theme-color;
                }
            }
        }

        .testimonial-content {
            max-width: 950px;
            text-align: center;
            margin: 50px auto;
            position: relative;
            z-index: 9;

            @include breakpoint (max-lg){
                margin: 30px auto;
            }

            @include breakpoint (max-md){
                margin: 20px auto;
            }

            @include breakpoint (max-sm){
                margin: 10px auto;
            }

            h3 {
                font-size: 30px;
                line-height: 180%;
                font-weight: 500;

                @include breakpoint (max-xl){
                   font-size: 25px;
                }

                @include breakpoint (max-lg){
                    font-size: 24px;
                    line-height: 170%;
                 }

                @include breakpoint (max-md){
                    font-size: 20px;
                    line-height: 165%;
                 }

                @include breakpoint (max-sm){
                    font-size: 18px;
                    line-height: 160%;
                 }
            }

            .star {
                margin-top: 30px;

                @include breakpoint (max-md){
                   margin-top: 20px;
                }

                @include breakpoint (max-sm){
                    margin-top: 10px;
                 }

                span {
                    font-size: 14px;
                    color: $ratting-color;
                }
            }
        }
    }
}


.testimonial-carousel-active-2 {
    .slide-dots {
        margin-bottom: -10px !important;


        li {
            margin: 0px 8px 0px!important;
        }
    }
}