.widget_nav_menu,
.widget_meta,
.widget_pages,
.widget_archive,
.widget_categories {
    ul {
        list-style: none;
        padding: 0;
        margin: 0 0 0 0;
    }

    .menu,
    >ul {
        margin: -17px 0 0px 0;
    }

    a {
        display: block;
        border: none;
        margin: 0;
        padding: 17px 30px 17px 35px;  
        font-size: 14px;
        font-weight: 500;
        line-height: 1.313;
        color: $body-color;
        position: relative;
        &:before {
            content: '\f07c';
            font-family: var(--icon-font); 
            color: $title-color;
            font-size: 16px;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            transition: all ease 0.4s;
        }

        &:hover {
            color: $theme-color;

            &:before {
                color: $theme-color;
            }
        }
    }

    li {
        display: block;
        position: relative;

        i {
            font-size: 16px;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            transition: all ease 0.4s;
        }

        &:hover {
            i {
                color: $theme-color;
            }
        }
    }

    .children {
        margin-left: 10px;
    }
}

.widget_categories {
    ul {
        // margin-top: 30px;

        li {
            display: block;
            position: relative;

            &:last-child {
                a {
                    border-bottom: 1px solid transparent; 
                }
            }

            a {
                display: block;
                border: none;
                margin: 0;
                padding: 17px 30px 17px 35px;
                font-size: 16px;
                line-height: 1.313;
                color: $title-color;
                position: relative;
                border-bottom: 1px solid $gray-color;

                &:before {
                    content: '\f07c';
                    font-family: var(--icon-font);
                    color: $title-color;
                    font-size: 16px;
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                    transition: all ease 0.4s;
                }
               
            }

            span {
                font-size: 16px;
                position: absolute;
                right: 0;
                top: 30px;  
                transform: translateY(-50%);
                transition: all ease 0.4s;
            }

            // a {
            //     position: relative;
            //     font-weight: 600;
            //     font-size: 16px;
            //     line-height: 21px;
            //     color: $title-color;
            //     padding: 17px 30px;
            //     font-family: $title-font;
            //     background-color: $white-color;
            //     display: block;
            //     border: none;
            //     margin: 0;
            //     margin-bottom: 5px; 
            //     transition: all 0.4s ease;
            // }

            i {
                font-size: 16px;
                position: absolute;
                right: 25px;
                top: 50%;
                transform: translateY(-50%);
                transition: all ease 0.4s;
            }

            &:hover {
                a {
                    color: $theme-color;

                    &:before {
                        color: $theme-color;
                    }
                }
                ~ span {
                    color: $theme-color;  
                }
            }
        }
    }


}

.widget_nav_menu,
.widget_meta,
.widget_pages {
    a {
        padding-right: 20px;
    }
}

.widget_nav_menu {
    .sub-menu {
        margin-left: 10px;
    }
}

.wp-block-archives {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;

    a:not(:hover) {
        color: inherit;
    }
}

.themeholy-blog ul.wp-block-archives li {
    margin: 5px 0;
}