/*----------------------- Hero Start ----------------------*/

.hero-5 {
    position: relative;
    background-color: $theme-color;
    background-size: auto;
    background-position: top center;
    overflow: hidden;

    .themeholy-hero-slide {
        position: relative;
        z-index: 9;
        margin-left: 50px;

        @include sm {
            margin: 0;
        }

        &:before {
            content: '';
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: linear-gradient(90deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.5) 100%);
            opacity: 0.9;
            z-index: 1;
        }
    }

    .hero-shape {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        z-index: 4;
    }

    ul.slick-dots {
        display: none;

        li {
            display: none;

            &.slick-active {
                display: none;
            }
        }
    }

    .indicator-number {
        position: absolute;
        top: 45%;
        left: 20px;

        @media(max-width: 1599px) {
            display: none;
        }

        @include lg {
            right: 50px;
        }

        @include sm {
            right: 20px;
        }

        @include xs {
            right: 0;
            left: 0px;
        }
    }

    .indicator-wrapper {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 30px;
        transform: rotate(-90deg);
    }

    .number-pagination {
        width: 5%;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        color: $white-color;
    }

    .total-pagination {
        width: 5%;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        color: $white-color;
    }

    .progress-wrapper {
        min-width: 150px;
        --space: 48%;
    }

    .progress { 
        position: absolute;
        top: 50%;
        left: var(--space);
        width: calc(100% - var(--space)*2);
        transform: translate(-50%, -50%);
        display: block;
        width: 180px;
        height: 4px;
        border-radius: 2px;
        overflow: hidden;
        background-color: $white-color;
        background-image: linear-gradient(to right, $theme-color, $theme-color);
        background-repeat: no-repeat;
        background-size: 0 100%;
        transition: background-size .4s ease-in-out;

    }
}

.hero-style5 {
    position: relative;
    z-index: 6;
    max-width: 650px;
    padding: 195px 0;

    @include lg {
        padding: 150px 0;
    }

    @include lg {
        padding: 100px 0;
    }

    .hero-text {
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        margin-bottom: 0;

    }

    .hero-subtitle {
        font-family: $title-font;
        font-weight: 700;
        font-size: 16px;
        line-height: 26px;
        text-transform: uppercase;
        color: $white-color;
        margin-bottom: 10px;

        @include xs {
            font-size: 14px;
            line-height: 26px;
        }
    }

    .hero-title {
        font-weight: 700;
        font-size: 80px;
        line-height: 90px;
        text-transform: capitalize;

        @include md {
            font-size: 60px;
            line-height: 70px;
        }

        @include xs {
            font-size: 50px;
            line-height: 60px;
        }

        @include vxs {
            font-size: 35px;
            line-height: 45px;
        }

        &:last-of-type {
            margin-bottom: 15px;
        }
    }
}



.hero-indicator-area {
    position: absolute;   
    right: 0px;
    top: 50%;
    z-index: 3;
    width: 120px;
    left: auto;
    transform: translate(-110px, -50%);
    &.home5-indicator{
        top: 3%;   
    }

    @include md {
        display: none; 
    }

 
    .hero-indicator5 { 
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        transform: rotate(-90deg);  
    
        .indicatior-btn {
            display: block;
            border: 2px solid transparent;
            border-radius: 50%;
            cursor: pointer;
            min-width: 80px;
    
            &:hover {
                border-color: rgba(255, 255, 255, 0.2);
            }
    
            img {
                width: 80px;
                height: 80px;
                border-radius: 50%;
                transition: all 0.4s ease-in-out;
            }
    
            &.active {
                border-color: rgba(255, 255, 255, 0.2);
    
                img {
                    border-radius: 50%;
                    transform: scale(0.6); 
                }
            }
        }
    }


}

/*----------------------- Hero End ----------------------*/