/*----------------------- Testimonial Start ----------------------*/

.testi-section{
    max-width: 1290px;
    display: block;
    margin: auto; 
    border-bottom: 1px solid rgba(18, 18, 18, 0.1);  
}

/*----------------------- Testimonial End ----------------------*/