// Primary Button

/* th-btn */
.themeholy-btn {
    font-family: $body-font;
    background-color: $theme-color-2;
    color: $white-color;
    position: relative;
    padding: 17px 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    z-index: 1;
    border-radius: 0px;
    overflow: hidden;
    border: none;
    // display: flex;
    // align-items: center;
    transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);

    i {
        position: relative;
        position: relative;
        top: 0;
        right: 0;  
        margin-left: 10px;
        transition: 0.4s ease-in-out;
    }

    &.blue-btn {
        background-color: $theme-color-2;
        color: $white-color;

        &:before {
            background-color: $theme-color-2;
        }

        &:hover,
        &:focus {
            background-color: $theme-color;
            color: $white-color;

            .icon {
                i {
                    // animation: BottomToTop 0.5s; 
                }
            }
        }
    }

    &.blue-btn2 {
        background-color: $white-color;
        color: $white-color;
        box-shadow: none; 

        &:before {
            background-color: $theme-color-2;
        }

        &:hover,
        &:focus {
            .icon {
                i {
                    // animation: BottomToTop 0.5s;
                }
            }
        }

        &:hover {
            background-color: $white-color;
            color: $theme-color-2;
        }
    }

    &.white-btn {
        background-color: $white-color;
        color: $white-color;

        &:before {
            background-color: $theme-color;
        }

        &:hover,
        &:focus {
            .icon {
                i {
                    // animation: BottomToTop 0.5s; 
                }
            }
        }

        &:hover {
            background-color: $white-color;
            color: $theme-color;
        }
    }

    &.btn-fw {
        width: 100%;
        text-align: center;
    }

    &:before {
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;
        z-index: -1;
        content: '';
        background-color: $theme-color;
        transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
        border-radius: 0px;
    }

    &:after {
        content: "";
        position: absolute;
        height: 0%;
        right: 50%;
        top: 50%;
        width: 100%;
        z-index: -1;
        transition: all 0.75s ease 0s;
    }

    &:hover {
        background-color: $theme-color-2;
        color: $white-color;
        border: none;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.10);

        &:before {
            right: 0%;
            left: auto;
            width: 0;
        }
    }

    &:hover,
    &:focus {
        .icon {
            i {
                position: relative; 
                top: -22px;
                right: -30px;
                // animation: BottomToTop 0.5s;  
            }
        }
    }
}





// Icon Btn
.icon-btn {
    display: inline-block;
    width: var(--btn-size, 56px);
    height: var(--btn-size, 56px);
    line-height: var(--btn-size, 56px);
    font-size: var(--btn-font-size, 16px);
    background-color: var(--icon-bg, transparent);
    color: $title-color;
    text-align: center;
    border-radius: 0;
    border: 1px solid $border-color;
    transition: 0.4s ease-in-out;

    &:hover {
        background-color: $white-color;
        color: $theme-color;
        border-color: $white-color;
    }
}

// Play Button
.play-btn {
    display: inline-block;
    position: relative;
    z-index: 1;

    >i {
        display: inline-block;
        width: var(--icon-size, 60px);
        height: var(--icon-size, 60px);
        line-height: var(--icon-size, 60px);
        text-align: center;
        background-color: $theme-color-2;
        color: $white-color;
        font-size: var(--icon-font-size, 1.1em);
        border-radius: 50%;
        z-index: 1;
        transition: all ease 0.4s;

        &.fa-play {
            padding-right: 0.18em;
        }
    }

    &:after,
    &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: $theme-color-2;
        @extend .ripple-animation;
        z-index: -1;
        border-radius: 50%;
        transition: all ease 0.4s;
    }

    &:after {
        animation-delay: 2s;
    }

    &:hover {

        &:after,
        &::before,
        i {
            background-color: $theme-color;
            color: $white-color;
        }
    }

    &.style2 {

        &:before,
        &:after {
            background-color: transparent;
            border: 1px solid $white-color;
        }
    }

    &.style3 {
        >i {
            background-color: $theme-color;
            color: $white-color;
            font-size: 20px;
        }

        &:before,
        &:after {
            background-color: $white-color;
        }

        &:hover {
            >i {
                background-color: $white-color;
                color: $theme-color;
            }
        }
    }
}

// Link Button
.link-btn {
    font-weight: 700;
    font-size: 16px;
    display: inline-block;
    line-height: 26px;
    position: relative;
    padding-bottom: 2px;
    margin-bottom: -2px;
    text-transform: uppercase;
    color: $title-color;

    i {
        margin-left: 5px;
        font-size: 0.9rem;
    }

    &:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 2px;
        background-color: $theme-color-2;
        transition: all ease 0.4s;
    }

    &:hover {
        color: $theme-color;

        &::before {
            width: 100%;
        }
    }
}

.line-btn {
    font-family: $title-font;
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    line-height: 26px;
    position: relative;
    padding-bottom: 0px;
    margin-bottom: -1px;
    text-transform: uppercase;
    color: $theme-color-2;

    i {
        margin-left: 5px;
        font-size: 0.9rem;
    }

    &:before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 85%;
        height: 1px;
        background-color: $theme-color-2;
        transition: all ease 0.4s;
    }

    &:hover {
        color: $title-color;

        &::before {
            background-color: $title-color;
            width: 45px;
        }
    }
}

// Scroll To Top 


.scroll-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    height: 50px;
    width: 50px;
    cursor: pointer;
    display: block;
    border-radius: 50px;
    z-index: 10000;
    opacity: 1;
    visibility: hidden;
    transform: translateY(45px);
    transition: all 300ms linear;

    &:after {
        content: "\f062";
        font-family: $icon-font;
        position: absolute;
        text-align: center;
        line-height: 50px;
        font-size: 20px;
        color: $theme-color;
        left: 0;
        top: 0;
        height: 50px;
        width: 50px;
        cursor: pointer;
        display: block;
        z-index: 1;
        border: 2px solid $theme-color;
        box-shadow: none;
        border-radius: 50%;
    }

    svg {
        color: $theme-color;
        border-radius: 50%;
        background: $white-color;

        path {
            fill: none;
        }
    }

    .progress-circle path {
        stroke: $theme-color;
        stroke-width: 20px;
        box-sizing: border-box;
        transition: all 400ms linear;
    }

    &.show {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
}

@include sm {
    .play-btn {
        --icon-size: 60px;
    }
}