/*------------------- 3.1. Preloader -------------------*/
.preloader {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 999;
  background-color: $title-color;   
}

.preloader-inner {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



.loader {
  position: absolute;
  width: 105px;
  left: calc(50% - 52px);
  top: calc(50% - 52px);
}

.rocket-wrapper {
  position: absolute; 
  left: 34px;
  top: -30px;
  height: 200px;
}

.rocket {
  width: 37px;
  height: auto;
}

.trail-wrapper {
  position: absolute;
  top: 78px;
  left: 13px;
  width: 12px;
  height: 44px;
  transform: none;
  transform-origin: top center;
  z-index: -1;
}

.trail {
  width: 12px;
  height: auto;
  transform: translateZ(0);
  animation: jet 0.02s ease alternate infinite;
  transform-origin: top center;
}

.clouds-wrapper {
  position: absolute;
  top: 13px;
  left: 10px;
  width: 88px;
  height: 85px;
}

.clouds {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 92px;
}

.cloud {
  animation: kaboom 0.4s ease alternate infinite;
  transform-origin: center center;
  opacity: 0.9;

  &:nth-child(odd) {
    animation: kaboom 0.3s ease alternate infinite;
  }

  &:nth-child(1) {
    animation-delay: 0.1s;
  }

  &:nth-child(2) {
    animation-delay: 0.2s;
  }

  &:nth-child(3) {
    animation-delay: 0.3s;
  }

  &:nth-child(4) {
    animation-delay: 0.4s;
  }

  &:nth-child(5) {
    animation-delay: 0.5s;
  }

  &:nth-child(6) {
    animation-delay: 0.6s;
  }

  &:nth-child(7) {
    animation-delay: 0.7s;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes kaboom {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.2);
  }
}

@keyframes jet {
  0% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1.2);
  }
}