.error-content {
    text-align: center;
}
.error-img {
	text-align: center;
	margin-bottom: 60px; 
}
.error-title {
    margin-bottom: 20px;
}
.error-text {
    margin-bottom: 35px;
	max-width: 540px;
	margin-left: auto;
	margin-right: auto;
}

@include md {
	.error-img {
		margin-bottom: 30px; 
	}
	.error-title {
		margin-bottom: 15px;
	}
}

@include sm {
	.error-title {
		margin-bottom: 10px;
	}
}